/******************************************GENERAL*********************************************/
    html, body {
     height:100%; min-height:100%; 
    }

    #copyright{ display: none;}
    #menu {
        top: 40px;
        left:0px;
        width:100%;
    }
    .oculto
    {
            display: none;
    }
    
    /* Enlaces
   ------------------------------------------------------------------------- */
    a {
      color: #1148A6;
    }
    a:active {
      position: relative;
      top: 1px;
    }
    
    /* Header // encabezado
   ------------------------------------------------------------------------- */    
    header, header a {
      /*color: #778;*/
      padding-right: 1em;
      text-decoration: none;
    }
    
    header:hover a {
      color: #1148A6;
    }
    header a:hover {
      text-decoration: underline;
    }    
/******************************************Header*********************************************/


/******************************************Cuerpo**********************************************/
#inicio {
    width:532px; 
    height:379px;
    background-image:url(../../imagenes/inicio.png);
    background-repeat:no-repeat;
    margin : 7% 0 0 25%;
}
/******************************************footter*********************************************/
.div_pie{
        background-color:#999998;
        color:#FFFFFF;
        position:absolute; bottom:0;
        text-align: center;
}

